{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Email Error</title>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
<div class="authentication">
  <div class="form">
    <div class="EmailConfirm__img">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
        <path fill="currentColor"
          d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-320 160 160 56-56-160-160 160-160-56-56-160 160-160-160-56 56 160 160-160 160 56 56 160-160Z"/>
      </svg>
    </div>
    <div class="EmailConfirm__title"> Ошибка подтверждения </div>
    <div class="EmailConfirm__text"> Ссылка недействительна или устарела</div>
    <a href="http://localhost:5173/" class="form_btn"> Вернуться на вход</a>
  </div>
</div>
</body>
</html>