{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Email Confirmed</title>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
<div class="authentication">
  <div class="form">
    <div class="EmailConfirm__img">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
        <path fill="currentColor"
         d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
      </svg>
    </div>
    <div class="EmailConfirm__title"> Email подтверждён </div>
    <div class="EmailConfirm__text">
      Привет, <b>{{ username }}</b><br>
      Теперь ты можешь войти в аккаунт
    </div>
    <a href="http://localhost:5173/" class="form_btn"> Перейти к входу </a>
  </div>
</div>
</body>
</html>